.contribution-container {
  display: flex;
  justify-content: start;
  text-align: center;
  flex-direction: column;
  column-gap: 0px;
  align-items: center;
  align-self: center;
  line-height: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 0px;
}
.contribution-heading {
  font-size: 3rem;
  margin: 30px;
}
.contribution-image {
  display: block;
  background-image: url("/experiment/images/claypot.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 260px;
  height: 120px;
  margin: 0px;
  padding: 0px;
  justify-self: center;
  line-height: 17;
  text-align: center;
}
.form-container{
  text-align: center;
}
.contribute-you-keep {
  font-size: 18px;
}
.text-area {
  background-color: #EBE9E9;
  color: #666666;
  padding: 1em;
  border-radius: 0px;
  border: 2px solid transparent;
  outline: none;
  font-weight: 5000;
  font-size: 18px;
  line-height: 1.4;
  width: 100%;
  height: 50px;
  transition: all 0.2s;
  text-align: center;
}
