.none {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.punishment-social-view {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 240px;
}

.player-avatar-listview {
  width: 40px;
  height: auto;
  margin-right: 8px;
  text-align: center;
  padding: 0px;
}
