.table-wrapper {
  overflow-x: scroll;
  width:100%;
  margin-bottom:24px;
}

.wrapper {
  width:100%;
  border-collapse: collapse;
}

.back-gray { 
  background: #EBE9E9; 
}

.tr {
  border-bottom:2px solid #EBE9E9;
}

.th {
  text-align:left;
  background:#D8D9DA;
  color:black;
  padding-top:8px;
  padding-bottom: 8px;
  padding-left: 30px;
  font-size:15px;
  font-weight:500;
}

.td {
  padding-left:0px;
  padding-top:20px;
  padding-bottom:20px;
  padding-left: 30px;
  text-align: left;
}

.avatar{
  width: 70px;
}